/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/icomoon.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
  color: #3b3b3b;
  background-color: #F4F3F1;
}

/* line 23, ../sass/icomoon.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0 2em 0;
}
/* line 28, ../sass/icomoon.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #9b9b9b;
  width: 2em;
  height: .1em;
  margin: .2em auto;
}
/* line 38, ../sass/icomoon.scss */
.how-it-works h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0 2em 0;
}
/* line 44, ../sass/icomoon.scss */
.how-it-works li {
  float: left;
  width: 33.33%;
  position: relative;
}
/* line 50, ../sass/icomoon.scss */
.how-it-works li:before {
  display: block;
  content: "";
  background-color: #9b9b9b;
  width: 100%;
  height: .1em;
  position: absolute;
  top: 3.5em;
  left: 50%;
  margin-left: 1.5em;
}
/* line 62, ../sass/icomoon.scss */
.how-it-works li:last-child:before {
  display: none;
}
/* line 66, ../sass/icomoon.scss */
.how-it-works li .number {
  font-size: 2em;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #efefef;
}
/* line 79, ../sass/icomoon.scss */
.how-it-works li i {
  font-size: 3.6em;
}
/* line 83, ../sass/icomoon.scss */
.how-it-works li .icon-list {
  color: #ECA95A;
}
/* line 87, ../sass/icomoon.scss */
.how-it-works li .icon-pencil {
  color: #AC9CD2;
}
/* line 91, ../sass/icomoon.scss */
.how-it-works li .icon-users {
  color: #4D99CB;
}
/* line 95, ../sass/icomoon.scss */
.how-it-works li h4 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 0;
}
/* line 101, ../sass/icomoon.scss */
.how-it-works li p {
  color: #9b9b9b;
  padding: 0 2em;
  line-height: 1.2;
}

/* line 13, ../sass/icomoon.scss */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
  color: #3b3b3b;
  background-color: #F4F3F1;
}

/* line 23, ../sass/icomoon.scss */
.how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0 2em 0;
}
/* line 28, ../sass/icomoon.scss */
.how-it-works h2:after {
  display: block;
  content: "";
  background-color: #9b9b9b;
  width: 2em;
  height: .1em;
  margin: .2em auto;
}
/* line 38, ../sass/icomoon.scss */
.how-it-works h3 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0 2em 0;
}
/* line 44, ../sass/icomoon.scss */
.how-it-works li {
  float: left;
  width: 33.33%;
  position: relative;
}
/* line 50, ../sass/icomoon.scss */
.how-it-works li:before {
  display: block;
  content: "";
  background-color: #9b9b9b;
  width: 100%;
  height: .1em;
  position: absolute;
  top: 3.5em;
  left: 50%;
  margin-left: 1.5em;
}
/* line 62, ../sass/icomoon.scss */
.how-it-works li:last-child:before {
  display: none;
}
/* line 66, ../sass/icomoon.scss */
.how-it-works li .number {
  font-size: 2em;
  color: #9b9b9b;
  border: 1px solid #9b9b9b;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #efefef;
}
/* line 79, ../sass/icomoon.scss */
.how-it-works li i {
  font-size: 3.6em;
}
/* line 83, ../sass/icomoon.scss */
.how-it-works li .icon-list {
  color: #ECA95A;
}
/* line 87, ../sass/icomoon.scss */
.how-it-works li .icon-pencil {
  color: #AC9CD2;
}
/* line 91, ../sass/icomoon.scss */
.how-it-works li .icon-users {
  color: #4D99CB;
}
/* line 95, ../sass/icomoon.scss */
.how-it-works li h4 {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em 0;
}
/* line 101, ../sass/icomoon.scss */
.how-it-works li p {
  color: #9b9b9b;
  padding: 0 2em;
  line-height: 1.2;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fnv5sm');
  src:  url('../fonts/icomoon.eot?fnv5sm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fnv5sm') format('truetype'),
    url('../fonts/icomoon.woff?fnv5sm') format('woff'),
    url('../fonts/icomoon.svg?fnv5sm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-users:before {
  content: "\e972";
}
.icon-list:before {
  content: "\e9bb";
}

